out/*
logs/*
api/target/*
common/target/*
backend/target/*
backend/logs/*
backend/META-INF/*
core/target/*
core/logs/*
core/META-INF/*
test/target/*
test/logs/*
test/META-INF/*
.idea/*
*.iml
images/
.settngs/
*.classpath
*.project
client/target/
/.idea/
/target/
